[alias]
    #tree = log --graph --oneline --all --color --decorate --abbrev=commit
    tree = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s' --graph
    tree2 = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s%n' --graph --name-status
    tree3 = log --pretty=format:'%Cred%h%Creset %C(bold blue)%an%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset %s' --graph
    commits = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=iso
    commits2 = log --pretty=format:'%C(yellow)%h %Cred%ad %C(cyan)%cd %Cblue%an%Cgreen%d %Creset%s' --date=iso

    co = checkout
    br = branch
    ci = commit
    st = status

    dif = diff --ignore-space-at-eol
    difff = diff --ignore-space-at-eol --color-words #just words
    bbranch = branch -v --sort -committerdate
    branches = branch -avvl --sort -committerdate

    alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1 => \\2/' | grep -v 'alias' | awk 'BEGIN { FS = \"=>\" }{ printf(\"%-20s=>%s\\n\", $1,$2)}' | sort

    #BASIC REPO INFORMATION
    whois = "!sh -c 'git log -i -1 --pretty=\"format::%an <%ae>\n\" --author=\"$1\"' -"
    whatis = show -s --pretty='tformat::%h (%s, %ad)' --date=short
    w = "!git -P show -s --pretty='tformat::%h (%s, %ad)' --date=short"
    howmany = "!sh -c 'git log -a --pretty=oneline | wc -l'"
    howmanybywhom = shortlog -sn

    um = !sh -c 'mainb=$(git branch -a --list "origin/HEAD" | cut -d"/" -f4) && git fetch && git branch -f $mainb origin/$mainb'

    #WHAT WAS GOING ON, WHILE YOU WERE AWAY
    anychanges = !sh -c 'git fetch' && git log --oneline HEAD..origin/$1
    anychangesonmaster = !sh -c 'git fetch' && git log --oneline HEAD..origin/master
    whoischanging = !sh -c 'git shortlog HEAD..origin/$0'
    whoischangingmaster = !sh -c 'git shortlog HEAD..origin/master'

    fa = fetch

    # oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -

[color]
    diff = true
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red #dim
    new = green 
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
